{% extends 'base.html' %}

{% block title %}Reps Contacts | FAQ{% endblock %}

{% block body %}
<div class="content">
    <h1><a href="/">Home</a></h1>
    <div class="pure-g faq">
        <div class="pure-u-1 pure-u-md-1-2 faq-question">
            <h2>What is a Contact?</h2>
            <p>A contact is a special kind of file. Inside of it, we can put things like a person's name, their phone number, their address, a picture, etc. It has a special file format with the extension '.vcf' and when you open it, the Contacts app on your phone or computer will open up, allowing you to save the new contact. On an iPhone, a contact should look something like this:</p>
            <img src="/images/CoryBooker.png" height="250">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 faq-question">
            <div class="faq-left">
                <h2>How do I import a contact on iOS?</h2>
                <p>On iOS, you can't automatically important contacts, so you'll have to open it with the Contacts app. This may look different depending on which browser you choose. Below we include screenshots to show what it looks like on two common browsers: on the left Safari and on the right Google Chrome.</p>
                <img src="/images/Safari.png" height="250">
                <img src="/images/ImportWithContacts.png" height="250" class="screenshot-left">
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 faq-question">
            <h2>How do I find my reps in my phone book?</h2>
            <p>You can search them by name, of course. You can also search by title, either 'Rep.' or 'Sen.' If you want to see a list of all of your representatives, simply type the word 'Congress,' as below:</p>

        </div>
        <div class="pure-u-1 pure-u-md-1-2 faq-question">
            <div class="faq-left">
                <h2>I still have a question. What do I do?</h2>
                <p>Feel free to reach out to me with anything, from feature requests to bug reports. My name is Matt and I'm available <a href="mailto:mattpiccolella1@gmail.com">here</a>.</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}