{% extends 'base.html' %}

{% block title %}Reps Contact{% endblock %}

{% block body %}
<header class="content">

  <div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-5">
    <img class="flag" src='/images/flag.png' width="100%">
  </div>
  <div class="pure-u-1 pure-u-sm-2-3 pure-u-md-4-5">
    <div class="instructions">
      <h1>Add your Representative Contacts</h1>
      <p><strong>Step 1: </strong>Find your representatives by using entering your Zip Code.</p>
      <p><strong>Step 2: </strong>For each of your representatives, click the 'Add to Contact' Button. This will create a contact file.</p>
      <p><strong>Step 3: </strong>Open the file to add the contact to your Contacts. On iOS, you may need to click "Import from Contacts."</p>
      <p class="faq-link">If you're having trouble, please visit our <a href='/faq'>FAQ page.</a></p>
    </div>
  </div>
</header>
<div class="content">
  <div class="pure-g">
    <div class=" pure-u-2-3 pure-u-md-4-5">
      <form class="pure-form">
        <input type="text" placeholder="Enter your Zip Code..." id="search-box" class="full">
      </form>
    </div>
    <div class="pure-u-1-3 pure-u-md-1-5">
      <button type="submit" class="pure-button pure-button-primary full" id="search-button">Search</button>
    </div>
  </div>
  <div id="search-results"></div>
</div>
{{ message }}
{% endblock %}

{% block scripts %}
<script src="/javascripts/home.js"></script>
{% endblock %}